@import "../abstracts/variables";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-weight: 300;
  line-height: 1.6;
  background-image: $background-color;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn {
  display: block;
  width: 100%;
  height: 3rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.btn-promocion {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 2rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;
    font-family: $font-display;
    font-size: 1rem;
    border: none;
    cursor: pointer;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rbga(#000, 0.2);
    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &--primary {
    background-color: $color-primary;
    color: #fff;
    &::after {
      background-color: rgba($color-secondary, 0.5);
    }
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(#000, 0.2);
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }

  &--animated {
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
  }
}
