.header {
  width: 100%;
  height: 22rem;
  margin: 1rem;
  background-image: linear-gradient(
      105deg,
      rgba($color-primary, 1) 0%,
      rgba($color-primary, 0.2) 75%
    ),
    url(../../images/header-image.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  &__login {
    // background-color: rgba($color-primary, .7);
    background-image: linear-gradient(
      160deg,
      rgba($color-primary, 0.7) 0%,
      rgba($color-primary, 0.2) 60%,
      transparent 76%
    );
    height: 6rem;
    margin-bottom: auto;
    border: none;
    border-bottom: 1px solid rgba($color-grey-dark-1, 0.1);
    box-shadow: 0 1rem 2.5rem 1rem rgba($color-grey-dark-1, 0.2);
  }
  &__navigation {
    height: 3rem;
    margin-top: auto;
    color: #fff;
    border: none;
    border-top: 1px solid rgba($color-grey-dark-1, 0.1);
    box-shadow: 0 1rem 2.5rem 1rem rgba($color-grey-dark-1, 0.2);
  }
  &__logo {
    display: flex;
    justify-content: center;
    align-self: center;
    font-family: $font-logo;
    font-size: 4rem;
    color: #fff;
    font-weight: 700;
    transition: all 0.8s;
    cursor: pointer;
    &:hover {
      color: black;
    }
  }
  &__icon {
    width: 3rem;
    height: 3rem;
    justify-content: center;
    fill: inherit;
  }
  &__group {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    &-1 {
      width: 100%;
      padding: 0.5rem;
      display: flex;
      background-color: $color-secondary;
      color: #fff;
      fill: #fff;
      border-radius: 3px;
      transform: scale(0.9);
      transition: all 0.4s;
      &:hover {
        transform: scale(1) translateY(-0.5rem);
      }
    }
    &-2 {
      width: 100%;
      padding: 0.5rem;
      display: flex;
      background-color: #101820;
      color: #fff;
      fill: #fff;
      border-radius: 3px;
      transform: scale(0.9);
      transition: all 0.4s;
      &:hover {
        transform: scale(1) translateY(-0.5rem);
      }
    }
  }
  &__log {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}

.btn {
  &-create {
    background-color: inherit;
    color: inherit;
    &:hover {
      background-color: rgba($color-secondary, 0.5);
    }
  }
  &-login {
    background-color: inherit;
    color: inherit;
    &:hover {
      background-color: rgba(#101820, 0.5);
    }
  }
}

.header__navigation {
  font-family: $font-display;
  text-transform: uppercase;
  justify-content: center;
  background-color: $color-primary;
  &-inicio {
    @include btn-navigation;
  }
  &-sucursales {
    position: relative;
    &-group {
      position: absolute;
      width: 100%;
      text-align: center;
      z-index: 100;
    }
    .linkSucursales {
      @include btn-navigation;
      cursor: pointer;
    }
    ul {
      opacity: 0;
      list-style: none;
      transform: translate(0, -50%);
      transition: all 1s cubic-bezier(0.68, -0.7, 0.25, 1.84);
    }
    &-group:hover ul {
      opacity: 1;
      transform: translateY(10%);
      cursor: pointer;
    }
    &-group &-sucursal {
      opacity: 0;
      transition: all 1s;
    }

    &-group:hover &-sucursal {
      &:not(:first-child) {
        margin-top: 0.5rem;
      }
      width: 100%;
      opacity: 1;
      display: block;
      text-align: center;
      padding: 0.5rem;
      border-radius: 3px;
      color: #fff;
      text-decoration: none;
      background-color: rgba($color-primary, 1);
      transition: all 0.3s;
      &:hover {
        transform: scale(1.1) translateX(2rem);
        background-color: rgba($color-primary, 0.6);
        color: #fff;
      }
    }
  }
  &-promociones {
    @include btn-navigation;
  }
  &-tienda {
    @include btn-navigation;
  }
  &-contacto {
    @include btn-navigation;
  }
}
