.main {
  background-image: linear-gradient(
    105deg,
    rgba($color-primary, 0.7) 0%,
    rgba($color-primary, 0.2) 50%,
    transparent 75%
  );
  border: none;
  border-top: 0.5px solid rgba($color-secondary, 0.5);
  border-bottom: 0.5px solid rgba($color-secondary, 0.5);
  box-shadow: 0 0.1rem 1rem rgba($color-primary, 0.1);
  margin: 0 auto;
  clip-path: polygon(0 0, 75% 0, 100% 25%, 100% 100%, 0 100%);
}
